.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 80%;
    padding: 1em;
}

.container h1 {
    text-align: center;
}

.container p {
    text-align: center;
    font-size: 1rem;
    color: var(--light-grey);
}

.container span {
    font-size: 0.7em;
    color: var(--primary);
}